# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Vercel
.vercel

# Netlify
.netlify

# Local env files
.env
.env.*
!.env.example

# Deployment config files
vercel.json

# Lock files (keep only package-lock.json)
pnpm-lock.yaml
yarn.lock

/generated/prisma
